<%- include('../includes/header.ejs') %>
	<%- include('../includes/nav.ejs') %>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="mx-auto w-80 px-4 py-2 bg-light mb-5 ">
						<h3 class="my-1 mx-3">
							<%= post.abstractId%>
						</h3>
						<hr>
						<div class="my-4 mx-3">
							<% if(errMessage) { %>
								<div>
									<%= errMessage %>
								</div>
								<% } %>
									<div class="row my-2">
										<div class="col-4">Sl No.</div>
										<p class="col-8">
											<%= post.index%>
										</p>
									</div>
									<div class="row my-2">
										<div class="col-4">Abstract Id</div>
										<div class="col-8">
											<%= post.abstractId%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4">Theme</div>
										<div class="col-8">
											<%= post.theme%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4">Title</div>
										<div class="col-8">
											<%= post.title %>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4">Author</div>
										<div class="col-8">
											<%= post.author%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4">Co Authors</div>
										<div class="col-8">
											<%= post.coAuthors%>
										</div>
									</div>

									<hr>

									<div class="row my-2">
										<div class="col-4">Corresponding Author</div>
										<div class="col-8">
											<%= post.corrAuthor.name%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4"></div>
										<div class="col-8">
											<%= post.corrAuthor.email%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4"></div>
										<div class="col-8">
											<%= post.corrAuthor.phoneNo%>
										</div>
									</div>

									<hr>

									<div class="row my-2">
										<div class="col-4">Presenting Author</div>
										<div class="col-8">
											<%= post.presAuthor.name%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4"></div>
										<div class="col-8">
											<%= post.presAuthor.email%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4"></div>
										<div class="col-8">
											<%= post.presAuthor.phoneNo%>
										</div>
									</div>
									<div class="row my-2">
										<div class="col-4"></div>
										<div class="col-8">
											<%= post.presAuthor.position%>
										</div>
									</div>

									<hr>

									<div class="row my-2">
										<div class="col-4">Affiliation</div>
										<p class="col-8">
											<%= post.affiliation%>
										</p>
									</div>
									<hr>
									<div class="row my-2">
										<div class="col-4"> File Location</div>
										<p class="col-8">
											<%= post.fileName%>
										</p>
									</div>
									<div class="row my-2">
										<div class="col-4">Time of Submission </div>
										<p class="col-8">
											<%= submissionDate%>
										</p>
									</div>
									<hr>
									<a target="_blank" href="<%= post.fileName%>" id="">Download file</a>
									<hr>
									<div class="row py-3"></div>
									<h4> Verify Abstract</h4>
									<hr>
									<div class="row my-2">
										<div class="col-4">Verified By</div>
										<% for( let i = 0; i < verifiedBy.length; i++ ) { %>
										<p class="col-8">
												<%= verifiedBy[i].name%>
												</p>
										<% } %>
									</div>
									<hr>
									<h6>To verify click the accept verify checkbox and hit Verify abstract</h6>
									<form class="mx-auto my-2" method="post" action="">
										<div class=" my-4 form-check form-check-inline mx-auto">
											<input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off" name="isAccepted" >
											<label class="form-check-label" for="inlineCheckbox1">&nbsp; Accept to verify Abstract</label>
										</div>
										<div class="">
											<button class="btn mx-auto btn-success" >Verify Abstract</button>
										</div>


									</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('../includes/footer.ejs') %>