<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
	<div class="container">
    <div class="mx-auto w-80 px-4 py-2 bg-light ">
      <h2><%= pageTitle %></h2>
      <h3 class="text-danger"><%= isAbsBlocked %></h3>
      <hr>
        <div class="row my-3">
              <h6 class="col-2 text-secondary" >Abstract Id</h6>
              <h6 class="col-2 text-secondary">Tilte</h6>
              <h6 class="col-2 text-secondary" >Name</h6>
              <h6 class="col-3 text-secondary">Email</h6>
              <h6 class="col-2 text-secondary">Phone No</h6>
            </div>
            <hr>
      <div class="main my-4">
        <% if(errMessage) { %>
          <div><%= errMessage %></div>
        <% } %>
        <% if (posts.length > 0) { %>
          <% for(let post of posts) { %>
            <div class="post-item">
            <div class="row my-3">
              <a class="col-2 text-secondary" href="/abstract/<%= post.id %>"><%=post.abstractId %></a>
              <div class="col-2 text-secondary" ><%= post.title %></div>
              <div class="col-2 text-secondary"><%= post.presAuthor.name%></div>
              <div class="col-3 text-secondary"><%= post.presAuthor.email%></div>
              <div class="col-2 text-secondary"><%= post.presAuthor.phoneNo%></div>
              <h6  class="ml-auto col-1"><a href="/abstract/<%= post.id %>" class="mr-auto">Details</a></h6>
            </div>
            <input type="hidden" name="id" value="<%= post._id %>">
          </div>
          <% } %>
          <%} else { %>
            <h2>No post found</h2>
            <% } %>
      </div>
    </div>
</div>
<%- include('../includes/pagination.ejs') %>
<%- include('../includes/footer.ejs') %>