<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>
	<div class="container">
    <div class="mx-auto w-80 px-4 py-2 bg-light ">
      <h2><%= pageTitle %></h2>
      <hr>
        <div class="row my-3">
              <h6 class="col-2 text-secondary" >Enrollment No.</h6>
              <h6 class="col-4 text-secondary" >Name</h6>
              <h6 class="col-4 text-secondary">Name</h6>
            </div>
            <hr>
      <div class="main my-4">
        <% if(errMessage) { %>
          <div><%= errMessage %></div>
        <% } %>
        <% if (posts.length > 0) { %>
          <% for(let post of posts) { %>
            <div class="post-item">
            <h3><%= post.email %></h3>
            <div class="row my-3">
              <a class="col-2 text-secondary" href="/posts/<%= post.id %>">ENS001</a>
              <div class="col-4 text-secondary" ><%= post.title %></div>
              <div class="col-4 text-secondary"><%= post.title %></div>
              <h6 style="width: 200px;" class="ml-auto col-2"><a href="/posts/<%= post.id %>" class="mr-auto">Details</a></h6>
            </div>
            <!-- <a href="/posts/<%= post.id %>/edit" class="pl-3 <%= isLogin ? 'd-block' : 'd-none' %>" >Edit</a> -->
            <input type="hidden" name="id" value="<%= post._id %>">
            <hr>
          </div>
          <% } %>
          <%} else { %>
            <h2>No post found</h2>
            <% } %>
          </div>
        </div>
        <%- include('../includes/pagination.ejs') %>
<%- include('../includes/footer.ejs') %>