<%- include('../includes/header.ejs') %>
  <%- include('../includes/nav.ejs') %>
    <div class="container">
      <div class="mx-auto w-80 px-4 py-2 ">
        <div class="my-2 mb-4 ">
          <form action="/abstract" method="get" class="d-inline">
            <input type="text" name="search" value="<%= search %>" placeholder="Search Abstract Ids, Authors"
              class="py-1" style="min-width: 400px; width: 50%;">
            <input type="submit" value="Search" class="btn btn-primary">
            <span>|</span>
          </form>
          <form action="/abstract/sort/abstract" method="post" class="d-inline">
            <% if(!isSortedByDate) { %>
              <input type="submit" class="btn btn-success" name="sortBy" value="Sort By Date">
              <% } else { %>
                <!-- <input type="submit" class="btn btn-success" name="sortBy" value="author"> -->
                <input type="submit" class="btn btn-success" name="sortBy" value="Sort By Author">
                <% } %>
          </form>
        </div>
        <h2>
          <%= pageTitle %> <small>(Total <%= totalItems %>)</small>
        </h2>
        <h3 class="text-danger">
          <%= isAbsBlocked %>
        </h3>
        <hr>
        <div class="row my-3">
          <h6 class="col-2 text-secondary">Abstract Id</h6>
          <h6 class="col-3 text-secondary">Tilte</h6>
          <h6 class="col-1 text-secondary">File</h6>
          <h6 class="col-2 text-secondary">Authors</h6>
          <h6 class="col-1 text-secondary">Verify</h6>
          <h6 class="col-2 text-secondary">Email</h6>
        </div>
        <hr>
        <div class="main my-4">
          <% if(errMessage) { %>
            <div>
              <%= errMessage %>
            </div>
            <% } %>
              <% if (posts.length> 0) { %>
                <% for(let post of posts) { %>
                  <div class="post-item row">
                    <div class="col-2 text-secondary">
                      <%=post.abstractId %>
                    </div>
                    <div class="col-3 text-secondary hide-overflow">
                      <%= post.title %>
                    </div>
                    <a class="col-1" href="<%= post.fileName%>">Download</a>
                    <div class="col-2 text-secondary hide-overflow">
                      <%= post.author%>
                    </div>
                    <div class="col-1">
                      <% for( let i=0; i < post.verifiedBy.length; i++ ) { %>
                        ✔️
                        <% } %>
                    </div>
                    <div class="col-2 text-secondary hide-overflow">
                      <%= post.corrAuthor.email%>
                    </div>
                    <h6 class="ml-auto col-1"><a href="/abstract/<%= post.id %>" class="mr-auto">Details</a></h6>
                    <input type="hidden" name="id" value="<%= post._id %>">
                  </div>
                  <% } %>
                    <%} else { %>
                      <h2>No post found</h2>
                      <% } %>
        </div>
      </div>
    </div>
    <%- include('../includes/pagination.ejs') %>
      <%- include('../includes/footer.ejs') %>